
  
  html {
    scroll-behavior: smooth;
  }
  body
  {
    font-family: 'Poppins', sans-serif;
  }
  .c-one
  {
    color: rgb(82,154,217)
  }
  .c-two
  {
    color: rgb(132,108,217)
  }
  .c-three
  {
    color: rgb(29,221,242)
  }
  .c-four
  {
    color: rgb(242,41,229)
  }
  #mainNavBar
  {
    width: 100vw;
  }
  .navbar-brand
  {
    vertical-align: bottom;
  }
  .chaknuul-main
  {
      font-family: 'Sirin Stencil', sans-serif;
      font-size: 30px;
      color: white;
  }
  .lema-main {
    color: white;
  }
  .chaknuul 
  {
      font-family: 'Sirin Stencil', sans-serif;
      font-size: 26px;
      color: white;
  }
  .poppins 
  {
      font-family: 'Poppins', sans-serif;
  }
  .banner-image {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }
  .gradient
  {
    height: 100vh !important;
    width: 100vw !important;
    background-image: linear-gradient(#000, rgba(255,255,255,.05), rgba(255,255,255,.1))!important;
  }
  #root {
    height: 0 !important;
  }